*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  

}

.conteiner{
    text-align: center;
}

.head-conteiner{
    margin-bottom: 35px;
    color: rgb(245, 245, 9);
    background-color: rgba(57, 57, 104, 0.871);
    height: 100px;
    box-shadow: 10px 10px 10px rgba(109, 46, 109, 0.536);
    display: flex;
    align-items: center;
   justify-content: center;

}

.body{
    text-align: center;
}

p{
    margin-bottom: 35px;
    font-weight: 900;
}


